.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 64px 0;
}

.loading .text-line {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.text-line text {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: dash 2s infinite forwards, filling 2s infinite forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes filling {
  0% {
    fill: #3f51f4;
    fill-opacity: 0;
  }
  50% {
    fill: #3f51f4;
    fill-opacity: 1;
  }
  100% {
    fill: #3f51f4;
    fill-opacity: 0;
  }
}

.main-container > .form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(1, 147, 253, 0.5);
  padding: 36px 0px;
  gap: 24px;
}

.main-container > .form-container > .form-header {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  color: #3f51f4;
  text-align: left;
  width: 80%;
}

.main-container > .form-container > .form-header > .form-title {
  margin: 0;
}

.main-container > .form-container > .form-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.main-container > .form-container > .form-body label {
  text-align: left;
}

.main-container > .form-container > .form-body > .button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  margin-top: 24px;
  background-color: #3f51f4;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  transition: all 0.3s;
}

.main-container > .form-container > .form-body > .button:hover {
  background-color: transparent;
  border: 1px solid #3f51f4;
  color: #3f51f4;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .main-container {
    padding: 64px 0px;
  }
  .main-container > .form-container {
    width: 80%;
    align-items: center;
  }

  .main-container > .form-container > .form-header {
    font-size: 24px;
  }
}
