.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 64px 0;
}

.loading .text-line {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.text-line text {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: dash 2s infinite forwards, filling 2s infinite forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes filling {
  0% {
    fill: #3f51f4;
    fill-opacity: 0;
  }
  50% {
    fill: #3f51f4;
    fill-opacity: 1;
  }
  100% {
    fill: #3f51f4;
    fill-opacity: 0;
  }
}

.main-container > .form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(1, 147, 253, 0.5);
  padding: 36px 0px;
  gap: 24px;
}

.main-container > .form-container > .form-header {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  color: #3f51f4;
  text-align: left;
  width: 80%;
}

.main-container > .form-container > .form-body > .form-title {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  color: #3f51f4;
  text-align: center;
}

.main-container > .form-container > .form-body > .form-price {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  color: #3f51f4;
  text-align: center;
}

.main-container > .form-container > .form-body.form-price > .price-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 25%;
  margin-top: 24px;
  background-color: #3f51f4;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  transition: all 0.3s;
}

.main-container
  > .form-container
  > .form-body.form-price
  > .price-button:hover {
  background-color: transparent;
  border: 1px solid #3f51f4;
  color: #3f51f4;
  cursor: pointer;
}

.main-container > .form-container > .form-header > .form-title {
  margin: 0;
}

.main-container > .form-container > .form-body {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.main-container > .form-container > .form-body > div.checkbox {
  display: flex;
  min-height: 82px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 258px;
}

.main-container > .form-container > .form-body > div.checkbox > p {
  margin: 0;
  margin-bottom: 1rem;
  letter-spacing: -0.05px;
  line-height: 18px;
  font-size: 14px;
  font-weight: 500;
}

select {
  min-width: 258px;
}

.main-container > .form-container > .form-body label {
  text-align: left;
  display: flex;
  gap: 0.5rem;
}

.main-container > .form-container > .form-body label > span {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.main-container > .form-container > .form-body label > span > svg {
  width: 10px;
}

#evergreen-tooltip-2 > p {
  font-size: 12px;
  line-height: 16px;
}

.main-container > .form-container > .form-body > p.obligatory-text {
  align-self: flex-end;
  margin-left: auto;
  font-size: 0.7rem;
}

.main-container > .form-container > .form-body > .button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  margin-top: 24px;
  background-color: #3f51f4;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  transition: all 0.3s;
}

.main-container > .form-container > .form-body > .button:hover {
  background-color: transparent;
  border: 1px solid #3f51f4;
  color: #3f51f4;
  cursor: pointer;
}

.main-container > .form-container > .form-body > .price-text {
  font-size: 15px;
}

.main-container > .form-container > .form-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container > .form-container > .form-body > .price-value {
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .main-container {
    padding: 64px 0px;
  }
  .main-container > .form-container {
    width: 80%;
    align-items: center;
  }

  .main-container > .form-container > .form-header {
    font-size: 24px;
  }

  .main-container > .form-container > .form-body.form-price > .price-button {
    width: 80%;
  }

  .main-container > .form-container > .form-body.form-price > .form-title,
  .main-container > .form-container > .form-body.form-price > .form-price {
    font-size: 30px;
  }

  .main-container > .form-container > .form-body {
    width: 100%;
  }

  .main-container > .form-container > .form-body > .button {
    width: 60%;
  }

  .main-container > .form-container > .form-body.form-price > .price-button {
    width: 60%;
  }

  .main-container > .form-container > .form-body > .ub-mb_24px {
    width: 80%;
  }

  .main-container > .form-container > .form-body > p.obligatory-text {
    margin-right: auto;
  }

  .main-container > .form-container > .form-body > div.checkbox {
    justify-content: center;
    align-items: center;
  }

  .main-container > .form-container > .form-body > .more-info-button > .more-info-button-text {
    margin-left: 2.5rem;
  }

}

.more-info-button {
  width: 100%;
  min-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}

.more-info-button > .more-info-button-text {
  font-size: 12px;
  border: 1px solid #3f51f4;
  border-radius: 8px;
  padding: 8px 12px;
  transition: all 0.3s;
  cursor: pointer;
}